# dependencies
node_modules/
**/node_modules/

# IDE
/.idea
/.awcache
/.vscode
/dist
**/dist
*.code-workspace
*.log
.*
# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE

# example
/quick-start
/example_dist
/example

#exclude
!.gitignore
!.travis.yml

# tests
/test
/coverage
**/coverage
/.nyc_output
**/.nyc_output
build/config\.gypi
